# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
resolution-mode=highest
auto-install-peers=true

# Izinkan skrip build di pnpm v10
only-built-dependencies-ignore-by-default=true