# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
resolution-mode=highest
auto-install-peers=true

# Pengaturan Keamanan Build Scripts (pnpm v10)
# only-built-dependencies[]=@parcel/watcher
# only-built-dependencies[]=@tailwindcss/oxide
# only-built-dependencies[]=core-js
# only-built-dependencies[]=esbuild